<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
    <div>
        <img>
        <form>
            <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más"><button action="submit"><img src="/imagenes/search-solid.svg" alt="search"></button>
        </form>
        <p>
            <a href="#">Compra en cuotas y sin tarjeta de credito</a>
        </p>
    </div>
    <div>
        <ul>
            <li><a class="letra-gris" href="#">Ofertas</a></li>
            <li><a class="letra-gris" href="#">Tiendas Oficiales</a></li>
            <li><a class="letra-gris" href="#">Vender</a></li>
            <li><a class="letra-gris" href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a class="letra-gris" href="#">Creá tu cuenta<img src="/imagenes/address-card-regular.svg" alt="crear-cuenta"></a></li>
            <li><a class="letra-gris" href="#">Ingresa<img src="/imagenes/sign-in-alt-solid.svg" alt="ingresar"></a></li>
            <li><a class="letra-gris" href="#">Mis compras<img src="/imagenes/shopping-basket-solid.svg" alt="carrito"></a></li>
        </ul>
    </div>
    </header>
    
</body>
</html>